@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/github-dark.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

pre {
  @apply rounded-lg my-4 overflow-x-auto;
}

code {
  @apply text-sm;
}
